.loginPanel {
  border: 2px solid white;
  dispay: flex;
  text-align: center;
  background-color: rgba(41, 41, 41, 0.5);
  height: 75rem;
  max-width: 40rem;
  min-width: 40rem;
	max-height: 90vh;
  border-radius: 1.5rem;
}

.text {
  font-size: 300%;
  color: white;
}

.formControl {
  opacity: 1;
  height: 4rem;
  margin-bottom: 3rem;
  width: 80%;
  border-radius: 2rem;
  background-color: white;
	color: black;
}

.surfAccountLogin {
  opacity: 1;
  //border: 2px solid white;
  margin-top: 3rem;
	margin-bottom: 4rem;
}

.thirdPartyLogin {
  margin-top: 4rem;

  //border: 2px solid red;
}

.button {
  font-family: 'Kaushan Script';
  width: 80%;
  height: 4rem;
  border-radius: 2rem;
  font-size: 220%;
  background-color: rgba(5, 5, 5, 0.7);
	margin-bottom: 0rem;
}
.thirdPartyButton {
  width: 80%;
  height: 4rem;
  border-radius: 2rem;
  font-size: 220%;
  background-color: rgba(5, 5, 5, 0.7);
	margin-bottom: 2rem;
}
